# Local site path
WORDPRESS_ROOT_DIR="/Users/tim/Local Sites/wordpress-org/app/public"

# Local site URL
WORDPRESS_URL=http://wordpress-org.local

# PostHog specific variables.
POSTHOG_PROJECT_API_KEY=
POSTHOG_PROJECT_ID=